.form{
	position : relative;
}

#input{
	width : 75%;
	display: block;
	margin : auto;
	margin-top: 100px;
	background : transparent;
	border:none;
	/*border-bottom : 2px dotted;*/
	border-bottom-color: #BDBDBD;
	color : white;
	text-align: center;
	font-size: 3em;
    text-transform: uppercase;

	box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.3);
	border-radius: 2px;
	margin-bottom: 5px;
}

#input:focus, #input:active{
	outline: none;
	/*border-bottom-color: white;*/
}

#submit{
	display: block;
	margin : auto;
	display: block;
	margin-bottom: 5px;
}

#result{
	text-align : center;
	font-size: 3em;
}
/*
#form-settings{
	position: absolute;
	right : 15px;
	bottom: 15px;
}
*/
/** Fork me On Github **/
#forkme{
	position : absolute;
	top : 0;
	right : 0px;
	height: 149px;
	width: 149px;
	overflow:hidden;
	padding: 0;
	margin: 0;
}

#forkme a{
	
	display: block;
	width: 190px;
	font-size: 14px;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", 
		"Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, 
		Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	background-color: #333;
	color: #FFF;
	word-spacing: 2px;
	text-decoration: none;
	padding: 5px 15px 5px 25px;
	
	position:relative;
	left: 37px;
	top: -37px;
	text-align: center;
	
	-moz-transform-origin: 0 0 ;
	-moz-transform:rotate(45deg);
	-moz-box-shadow:    1px 1px 5px 1px #666;
	
	-webkit-transform-origin: 0 0 ;	
	-webkit-transform:rotate(45deg);
	-webkit-box-shadow: 1px 1px 5px 1px #666;
	
	-ms-transform-origin: 0 0 ;	
	-ms-transform:rotate(45deg);
	-ms-box-shadow: 1px 1px 5px 1px #666;
	
	transform-origin: 0 0 ;	
	transform:rotate(45deg);
	box-shadow: 1px 1px 5px 1px #666;
	
	background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, #000000),
		color-stop(0.05, #666666),
		color-stop(0.07, #000000),
		color-stop(0.93, #000000),
		color-stop(0.95, #666666),
		color-stop(0.97, #000000)
	);	
}

#forkme a:focus{
	outline: none;
}




/*** Explorer ***/
#explorer li{
	display: block;
	cursor: pointer;
}

#explorer li h6{
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 3px;
	padding-bottom: 3px;
}

#explorer li.closed h6{
	font-weight: normal;
}
/*
#explorer li:hover{
	background-color: #131417;
}
*/
#explorer li:before
{
    content: "\e082";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-left: -17px;
    color: #CCCCCC;
	padding-top: 3px;
	padding-bottom: 3px;

}

#explorer li.closed:before
{
    content: "\e081";

}

#explorer li.word:before{
	content: "";
}

#explorer li.word{
	display: list-item;
}
