#input{
	width : 75%;
	display: block;
	margin : auto;
	margin-top: 100px;
	background : transparent;
	border:none;
	border-bottom : 2px solid;
	border-bottom-color: #BDBDBD;
	color : white;
	text-align: center;
	font-size: 3em;
    text-transform: uppercase;
}

#input:focus, #input:active{
	border-bottom-color: white;
}

#result{
	text-align : center;
	font-size: 3em;
		
}